html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#infoBar {
	width: 15%;
	height: 100%;
	background-color: white;
	position: absolute;
	z-index: 1;
}

#map {
	height: 100%;
	background-color: grey;
}

#placeSearchBox {
	width: 80%;
	margin: 10px;
}

#placeSearchButton {
	margin-left: 70px;
}

#error {
	text-align: center;
	padding-top: 300px;
	padding-left: 15%;
}