html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#infoBar {
	width: 15%;
	height: 100%;
	background-color: white;
	position: absolute;
	z-index: 1;
}

#infoBarTitle {
	text-align: center;
}

#map {
	height: 100%;
	background-color: grey;
}

#placeSearchBox {
	width: 80%;
	margin: 10px;
}

#error {
	text-align: center;
	padding-top: 300px;
	padding-left: 15%;
}

@media screen and (max-width: 720px) {
	#infoBar {
		display: none;
	}
}

@media screen and (min-width: 721px) {
	#ham {
		display: none;
	}
	#hamInfo {
		display: none;
	}
}

#hamInfo {
	width: 100%;
	height: 40%;
	background-color: white;
	position: absolute;
	z-index: 1;
}

#hamInfoTitle {
	text-align: center;
}